body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.title {
    color: #333;
    margin-top: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #FF5733;
}
